Source: weather-indicator
Section: python
Priority: extra
Build-Depends: cdbs (>= 0.4.43),
 debhelper (>= 6),
 python,
 python-support (>= 0.6.4),
 python-distutils-extra (>= 2.10)
Maintainer: Sebastian MacDonald <sebas310@gmail.com>
Standards-Version: 3.8.3
XS-Python-Version: current

Package: weather-indicator
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends},
 ${python:Depends},
 python-gconf,
 python-gobject,
 python-appindicator,
 python-gtk2
Description: A weather indicator for Ubuntu's Indicator Applet
 A weather indicator that displays information for one or multiple places
 in the world
