[Desktop Entry]
_Name=Weather Indicator Applet
_Comment=Indicator applet for current weather conditions
GenericName=Weather Applet
Categories=GNOME;Utility;
Exec=indicator-weather
Icon=/usr/share/indicator-weather/media/icon.png
NoDisplay=True
Terminal=false
Type=Application
